footer.links
  a(href="https://github.com/JLouisa/messaging-app", target="_blank")
    img(src="images/github-original.svg", alt="gitHubIcon", width="40", height="40")
  span.copyright &copy; #{new Date().getFullYear()} | Jonathan Louisa
