header
  a(href="/")
    h1.logo
      span.logoPart1 Whisper
      span.logoPart2 Wave
  div.searchDiv
    form(action="" method="post") 
      input(type="search" name="search" placeholder='search')
    img.searchImg(src="images/search.svg" alt='loupe icon')
  nav
    a.profile(href="/profile")
      strong Profile
    a.login(href="/login")
      strong Login
