div#addDiv

div#friendSection(hx-swap-oob=true)
    each friend in friendlist.friends
        div.friendContainer(hx-get=`/message/${friend._id}` hx-trigger='click' hx-target="#chatSection" hx-swap="innerHTML")
            div.friendProfileImgDiv
                img.friendProfileImg(src='images/default_profile.png', alt="profile pic")
            p.friendInfo 
                span
                    strong= friend.username
                span= friend.createdDate.toLocaleString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })
            p.friendText Text...