div#addDiv
    if errors && errors.length > 0
        div.errorMsg
            each error in errors 
                div - #{error.msg}
    form.addFriendForm(hx-post="/users/friendlist/add" hx-target='#addDiv' hx-swap="outerHTML") 
        input.inputAddFriend(type="text" name="addNewFriend" id="addNewFriend" placeholder="Friend's username" value=username ? username : "" )
        div
            button.btn#addFriendBtn(type="submit")
                strong Add friend
            button.btn#cancelFriendBtn(hx-get="/users/cancel" hx-target='#addDiv' hx-swap="outerHTML")
                strong Cancel