div#friendSection
    each group in groups
        div.friendContainer(hx-get=`/message/group/${group._id}` hx-trigger='click' hx-target="#chatSection" hx-swap="innerHTML")
            div.friendProfileImgDiv
                img.friendProfileImg(src='images/group_profile.png', alt="profile pic")
            p.friendInfo 
                span
                    strong= group.name
                span= group.createdDate.toLocaleString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })
            p.friendText Text...

div#chatSection(hx-swap-oob=true)
    div.welcomeMessage 
        p
            strong WhisperWave 
            | for everyone!