doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheets/style.css")
    script(src="https://unpkg.com/htmx.org@1.9.8", integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr", crossorigin="anonymous")
    meta(name="description", content=`${description}`)
    link(rel="icon", type="image/x-icon", href="/images/favicon.png")
    title WhisperWave | #{head}

  body
    include ./partials/header.pug
    main
      block content
    include ./partials/footer.pug
