@import url("https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Background colors for different elements */
  --bgColor1: rgb(157, 200, 157); /* Light green background */
  --bgColor2: #fef5ee; /* Creamy background */

  /* Default font color for text */
  --frameColor: #777;
  --black: #1c1c1c;
  --red: #b30000;
  --greyLight: #e4e4e4;

  /* Default font color for text */
  --fontSizeBase: 1rem;
  --fontSizeMD: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fontSizeLG: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fontSizeXL: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  /* Title size with a responsive approach */
  --titleSize: clamp(1.2rem, 5vw, 3rem);

  /* Default Border Radius */
  --borderRadius: 10px;

  --paddingBase: 1em;
}

body {
  /* Define the default font family for the entire document */
  /* font-family: "Alata", sans-serif; */
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: var(--fontSizeBase);
  /* background-image: url("../images/img-noise-361x370.png"); */
  margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea,
select {
  font-family: "Poppins", sans-serif;
  font-size: var(--fontSizeBase);
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: 1s;
  border-radius: var(--borderRadius);
}

.btnDelete {
  padding: 10px 16px;
  background-color: var(--red);
}

img {
  width: 100%;
  height: auto;
}

/*! Layout */
main {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--paddingBase) 10px;
  min-height: 70vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: var(--titleSize);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo login";
  border-bottom: 2px solid var(--frameColor);
  align-items: center;
  padding: 1em;
  gap: 1em;
  justify-content: space-between;
}

.logo {
  grid-area: "logo";
  /* font-size: var(--titleSize); */
  justify-self: start;
}

.logoPart2 {
  color: darkgreen;
}

header > form {
  grid-area: "search";
}

.searchDiv {
  grid-area: "login";
  justify-self: center;
}

.searchDiv {
  display: none;
}

.searchImg {
  width: 40px;
  height: auto;
}

nav {
  grid-area: "login";
  justify-self: end;
  display: flex;
  gap: 1em;
}

.login,
.profile {
  font-size: clamp(1.2rem, 3vw, 2rem);
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.login:hover {
  text-decoration: underline;
}

.profile:hover {
  text-decoration: underline;
}

.profileSection {
  width: 480px;
  margin: 1em auto;
}

.profileFriendContrainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileFriendContrainer strong {
  font-size: var(--fontSizeLG);
}

.profileFriendContrainer button {
  font-size: var(--fontSizeMD);
}

.profilePageImg {
  width: calc(var(--fontSizeXL) * 2);
  height: auto;
  display: block; /* Ensures that the margin property works correctly */
  margin: 0 auto; /* Centers the image horizontally */
}

.profileBtns {
  display: flex;
  justify-content: space-between;
}

div #profileUsername {
  text-align: center;
  font-size: var(--fontSizeXL);
}

.pendingUsernames {
  font-size: var(--fontSizeLG);
}

.pendingRequesteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileBtn {
  font-size: var(--fontSizeMD);
}

.btn2:hover {
  color: black;
  background-color: whitesmoke;
  outline: 1px solid black;
  transition: background-color 0.2s ease, color 0.22s ease;
}

/* .bubbleImg {
  max-height: 2em;
  filter: drop-shadow(0px, 44px 34px, rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--borderRadius);
} */

@media only screen and (min-width: 480px) {
  .searchDiv {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  header {
    grid-template-areas: "logo search login";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

footer {
  border-top: 2px solid var(--frameColor);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

footer img {
  max-width: 3rem;
}

/* ==================Main================== */
#loginSection {
  margin: 1em auto;
  width: 300px;
  justify-self: center;
}

#loginValidationErrors,
.errorMsg {
  color: crimson;
}

.home {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: clamp(200px, 350px, 400px) 1fr;
  grid-template-areas: "friends chat";
}

.welcomeUser {
  text-align: center;
}

#listSection {
  grid-area: "friends";
}

#userDiv {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.userPart {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
}

#userImg {
  width: 9rem;
  height: auto;
}

.addBtn {
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: center;
}

.addFriendForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addFriendDiv {
  margin-bottom: 2em;
}

.inputAddFriend {
  margin: 0;
}

#addFriendBtn {
  text-align: center;
  margin: 0;
}

.welcomeMessage {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#friendSection {
  max-height: calc(700px + 3rem);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

#friendSection::-webkit-scrollbar {
  width: 6px;
}

#friendSection::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#friendSection::-webkit-scrollbar-track {
  background-color: transparent;
}

#friendSection:hover {
  scrollbar-color: #888 transparent; /* Set the color for the thumb and the track when scrolling */
}

#friendSection:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

#friendSection:hover::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color for the track when scrolling */
}

.friendContainer {
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 3fr;
  cursor: pointer;
}

.friendProfileImgDiv {
  grid-row: 1/3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendProfileImg {
  width: 5em;
  height: auto;
}

.friendInfo {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friendText {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-left: 0.3em;
}

#chatSectionEmpty {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatSection {
  display: grid;
  grid-template-rows: 700px 3rem;
  grid-template-columns: 1fr;
  border: 1px solid black;
}

#chatMessages {
  overflow-y: auto;
  /* border: 2px solid black; */
  grid-row: 1/2;
  grid-column: 1/2;
  padding: var(--paddingBase);
  /* grid-auto-flow: row dense; */
  /* Hide the scrollbar when not in use */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Add styling for the scrollbar if needed */
#chatMessages::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}
#chatMessages::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb color */
}
#chatMessages::-webkit-scrollbar-track {
  background-color: transparent; /* Set the track color */
}

.chatBubble {
  padding: 0.5em;
  border: 1px solid black;
  margin-bottom: 0.2em;
}

.chatInputField {
  align-self: end;
  grid-row: 2/3;
  grid-column: 1/2;
}

.chatForm {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatForm textarea {
  border: none;
}
